* {
    margin: 0;
    /* background-color: rgb(187, 226, 236); */
    font-family: 'Merriweather', serif;

}
hr{
    
    border-top: 10px;
    border-bottom: 0;
    border-style: dotted;
    border-color: grey;
    width: 30%;
    margin: 10px 33%;
}


.navbar {
    background-color: #484848; 
    width: 100%;
    height: 80px;
    display: block;
    position: sticky;
    overflow: hidden;
    top: 0;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color:rgb(255, 255, 255);

}

.logo-container {
    flex: 1;
}

.logo {
    width: 100%;
    height: 50px;
}

.middle-container1 {
    flex: 6;
}
.top-search {
    display: flex;
    list-style: none;
    justify-content: center;
}

.top-search-items{
    margin: 10px;
}
.top-search-items a{
    color:inherit;
    cursor: pointer;
}
.top-search-items:hover{
    cursor: pointer;
    font-weight: bold;
}


.topsearch :active {
    font-weight: bold;
}

.middle-container{
    flex: 7;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
}
.menu-items{
    margin: 10px;
}

.menu-items:hover{
    cursor: pointer;
    font-weight: bold;
}

.search-container {
    flex: 2;
    display: flex;

    
}
.search-bar{
    margin-left: 40px;
}
.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  
  .toggle-icon {
    color: goldenrod;
  }
  
  .toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
  }

.background-container {
    background-repeat: no-repeat;
    background-color: rgb(187, 226, 236);
    position: relative;
    


}

.bg-image {
    
    width: 100%;
    /* color: red; */
    padding: 0;
}

.heading-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;


}
.heading{
    color: rgb(255 255 255);
    font-size: 40px;
    text-align: center;
    
}

.content-container{
    display: inline-block;
    background-color: #b6d8d8;
    color: black;
    line-height: 1.5;
}



.captain-list {
    padding: 10px;
    list-style: none;
    margin: 30px;
    height: auto;

}

.captain-name {
    text-align: center;
    padding: 20px 0px 20px 20px;
    font-size: 33px;
    font-weight: bold;
}

.captain-info {
    margin-bottom: 30px;
}

.captain-info-list {
    padding-left: 0px;
    width: 100%;
    list-style: none;
    display: flex;
    border-bottom: 10px;
    border-color: red;

}

.galary {
    display: flex;
    padding: 20px;
    width: 30%;

}

.gdhoni {
    border-radius: 10px;
    margin: 0 20px 10px 0;
    flex: 33.33%;
    width: 100%;
}

.captain-info-img {
    width: 50%;
    margin: 20px;
}


.image {
    margin: 0 20px 10px 0;
    float: left;
    width: 50%;
    border-radius: 15px;

}


.captain-info-data {
    float: right;
    margin: 20px;
    padding: 20px;
    width: 70%;
}

/* comment */


/* footer */

.footer {
    line-height: 1.5;
    padding: 10px;
    
    position: absolute;
    
    background-color: #252525;
    color: #7e7e7e;
}

.about-container {
    padding: 10px;
    margin-bottom: 15px;
}

.about {
    text-align: center;
    font-size: larger;

}

.aboutus {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    justify-content: center;
}


.links {
    display: flex;
    justify-content: center;
    width: 70%;
}

.fstart {
    flex: 5;
    width: 50%;
    justify-content: center;
    margin-left: 50%;

}
.icons{
    color: white
}

.fend {
    flex: 5;
    width: 50%;

}


.quick-link {
    flex: 1;
    width: 50%;
    list-style: none;
}

.quick-link-items {
    margin: 10px 0;
}

.quick-link-items:hover {
    font-weight: bold;
    color: rgb(62, 0, 0);
}

.quick-link-items a {
    color: rgb(171, 171, 171);
    text-decoration: none;

}

.contact-list-items a {
    color: rgb(176, 176, 176);
    text-decoration: none;

}

.contact-us {
    flex: end;
    width: 50%;
    list-style: none;

}

.contact-list-items:hover {
    font-weight: bold;
    color: antiquewhite;
}

.contact-list-items {
    margin: 10px 0;
}

.copyright{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.content-container.active{
    background-color: #1d1d1d;
    color:wheat;
}

.navbar.active{
    background-color: rgb(138, 6, 6);
}

.navbar-container.active{
    color: #ffffff;
    background-color: #000000;
}

.toggle.active {
    background-color: black;
  }
  
  .toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
  }
  .footer.active{
    background-color: black;
    color:white;
  }